################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/homework/Project1(28.09)/.vs/Project1(28.09)/v17
