################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/homework/Project1(28.09)/.vs/Project1(28.09)/v17
/homework/Project2(28.09)/.vs/Project2(28.09)/v17
/homework/Project1(05.10)/.vs/Project1(05.10)
/homework/p2(05.10)/.vs/p2(05.10)/v17
/classwork/pr1(12.10)/.vs/pr1(12.10)/v17
/homework/hw(19.10)/.vs/hw(19.10)/v17
/homework/p2(05.10)/.vs/p2(05.10)/FileContentIndex
/homework/proj3/.vs/proj3/v17
/classwork/pr1(12.10)/.vs/pr1(12.10)/FileContentIndex
/classwork/pr1(12.10)
/homework/Project2(28.09)/.vs/Project2(28.09)/FileContentIndex
/homework/ex.22(19.10)/.vs/ex.22(19.10)/v17
